
@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sil</h2>
<form method="post">
    Silmek İstediğiniz ID<input type="text" name="StudentID" />
    <br />

    <button type="submit">Sil</button>
</form>
